/*This is my style for the body*/
body {
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 28px;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 20px;
    color: #474a4a;
}

main {
    padding: 0 2rem; 

}

main li {
    list-style-type: circle;
    padding: 10px;
    margin-left: 10px;
}

dl dt {
    font-size: 18px;
}

dl dd {
    list-style-type: georgian;
    padding: 5px;
    margin-left: 5px;
}
/* this is my header area*/
header {
    font-size: 50px;
    text-align: center;
    background-color: #3cac3b;
    padding: 0;
    margin: 0;
}
/* this is my footer area */
footer {
    border-color: #2a398d;
    border-style: inset;
    width: 50%;
    margin: auto;
    border-width: 5px;
    border-radius: 10%;
    text-align: center;
    clear: both;
}
/* this is my nav area */
nav {
    background-color: #e61d25;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #d1d4d1;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 48px;
}

nav li.active a {
    background-color: #2a398d;
    color: #d1d4d1;
}

nav a:hover {
    color: #3cac3b
} 
 
.home-image{
    float: right;
    width: 30%;
    height: auto;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
}

.gallery-container figure {
    height: 300px;
    width: 300px;
}